.site-content {
  padding-top: 50px;
}

.content-area {
  padding: 0 10px;
  width: $size__site-main;
}

.content-area--single-column {
  margin: 0 auto;
  max-width: 43.75em;
}

.content-area--single-column-wide {
  margin: 0 auto;
  max-width: 60em;
}

.content-area--full-width {
  max-width: none;
  padding: 0;
  width: 100%;
}
